html {
  max-width:800px;
  margin:auto;
  background-color:darkslategray;
  color:whitesmoke;
}

.hidden {
	display:none;
}

form {
  color:black;
}

.vehicle-list {
  border:1px solid black;
  padding: 0px 20px 20px 20px ;
}
.vehicle-details {
  border-bottom:1px solid black;
}
.vehicle-container {
  border-bottom:1px solid black;
  margin:auto;
  display:inline-block;
}

.alerts {
  display:inline-block;
}

p {
  font-size: 20px;
}

a {
  text-decoration:none;
  background-color:black;
  color:salmon;
  padding:10px;
  font-size:20px;
}

a:hover {
  color:deepskyblue;
}
