<div class='vehicle-list'>

<% @user.vehicles.each do |vehicle| %>
  <div class='vehicle-container'>
    <div class='vehicle-details'>
      <p> <%= vehicle.year %> </p>
      <p> <%= vehicle.make %> </p>
      <p> <%= vehicle.model %> </p>
      <p>Estimated Resale Value: $<%= sprintf('%2.f',vehicle.get_resale) %> </p>
    </div>
    <div class='alerts'>
      <p>There are no alerts for this vehicle</p>
    </div>
  </div>

<% end %>
</div>
